.yahooweather .day {
  padding-left: 0;
  padding-right: 25px;
}

.yahooweather .weather-icon {
  padding-right: 30px;
  text-align: center;
}

.yahooweather .min-temp {
  padding-left: 20px;
  padding-right: 0;
}
